<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/MedSine"
        android:supportsRtl="true"
        android:theme="@style/Theme.DataBase"
        tools:targetApi="31">
        <activity
            android:name=".Destination"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />

        <activity
            android:name=".mainscreen"
            android:exported="false"
            android:theme="@style/Theme.DataBase" />
        <activity
            android:name=".OnBoardingList"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".Med"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:parentActivityName=".Med"
            android:theme="@style/Theme.DataBase2" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.TabletContentProvider"
            android:authorities="com.example.database;"
            android:exported="false" />
        <receiver android:name=".AlarmReceiver"/>
    </application>

</manifest>